body {
  background-color: rgb(188, 233, 195);
}

h1, h2 {
  font-family: Lato, Arial;
}

main {
  margin: 0 auto;
  width: 90%;
  background-color: rgb(162, 184, 118);
  padding: 10px 20px;
}

main ul {
  padding: 0px;
}

main h2 {
  text-align: center;
}

main select {
  float: right;
  height: 30px;
  width: 200px;
  margin-top: 15px;
}

main h1 {
  float: left;
}

nav:after, main:after {
  content: "";
  display: table;
  clear: both;
}

main > div {
  float: left;
  height: 500px;
  overflow: scroll;
}

main div:first-child {
  border-right: 1px solid black;
}
.all-dogs {
  width: 60%;
}

.your-dogs {
  width: 35%;
  margin-left: 20px;
}

.dog-frame {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  float: left;
  overflow: hidden;
  margin: 5px;
}

.dog-picture {
  max-height: 150%;
  max-width: 150%;
}